{% extends "base.html" %} {% block title %} Sign Up {% endblock %}
{% block content %}

<h1>Sign Up</h1>
<div class="container">

    <form class ="" action="" method="POST">
        {{ form.csrf_token }}
        {{ form.first_name.label(class="form-label") }} {{ form.first_name(class="form-control") }}
        {{ form.last_name.label(class="form-label") }} {{ form.last_name(class="form-control") }}
        {{ form.email.label(class="form-label") }} {{ form.email(class="form-control") }}
        {{ form.username.label(class="form-label") }} {{ form.username(class="form-control") }}
        {{ form.password.label(class="form-label") }} {{ form.password(class="form-control") }}
        {{ form.submit(class="btn btn-primary") }}

    </form>
</div>
{% endblock %}
